<link 
    rel="stylesheet"
    href="https://www.sipnet.ru/bundles/artsoftemain/css/webrtc_client.css" />
<script type="text/javascript">
(function(){
    var s = document.createElement('script');
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://www.sipnet.ru/bundles/artsoftemain/js/frontend/modules/webrtc_client.min.js";
    var ss = document.getElementsByTagName("script")[0];
    ss.parentNode.insertBefore(s, ss);
})();
</script>
<div class="fw-container__step__form__design-btn__body" style="float: left; margin-bottom: 40px">
    <label for="design-btn-3"
           class="fw-container__step__form__design-btn__label js-start_client_call fw-container__step__form__design-btn__label--3"
           style="background-color: rgb(255, 46, 136);"
           data-token="W1571ZVF2V37YJU3U5V42YUZ87SGJYQD"
           data-dtmf="off"
           data-lang="EN">
        <span class="js-text_call" style="color: #FFFFFF;">Call (SIPNET)</span>
        <span class="fw-container__step__form__design-btn__label__icon2"></span>
    </label>
</div>
